.site-price {
  height: 725px;
  margin: 0 auto;
  background-color: #F1F1F1;
  padding-top: 40px;
  padding-bottom: 70px;
}


.pricebox {
  width: 330px;
  height: 500px;
  text-align: center;
  background-color: #f9f9f9;
  box-sizing: border-box;
  z-index: 2;

  &:before {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    position: relative;
    display: block;
    left: 133px;
    bottom: 25px;
    border: #444444;
    &:before{}
  }

}

.service > li {
  width: 100%;
  height: 43px;
  text-align: center;
}

.service {
}

.service li:nth-child(2n+1) {
  background-color: #E5E5E5 ;
  align-content: center;
  color: #999999;
  font-size: 23px

}

.service  li:nth-child(2n+2) {
  background-color: #f1f1f1;
  align-content: center;
  color: #999999;
  font-size: 23px;
}

h3 {
  width: 320px;
  border-bottom: #27C7AB solid 8px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 75px;
}

h4 {
  text-transform: uppercase;
  color: #27C7AB;
  font-size: 23px;
  font-weight: 500;
}


.reverse li:nth-child(2n+1) {
  background-color: white ;
  align-content: center;

}

.reverse li{
  border-left: #27C7AB solid 3px;
  border-right: #27C7AB solid 3px;
}


.reverse h4 {
  color: white;
}

.reverse .button-basket {

  border: white 1px solid;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7px;
  background-color: white;
  color: #27C7AB;
}

.button-basket {
  width: 121px;
  height: 34px;
  border: #27C7AB 1px solid;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7px;
  background-color: #27C7AB;
  color: white;
  margin-left: 103px;

}

.button-basket > span {
  display: inline-block;
  position: relative;
  top: 10px;
}

.price {
  height: 127px;
  width: 127px;
  border-radius: 50%;
  border: 1px solid grey;
  color: grey;
  text-align: center;
  background-color: white;
  margin-left: 100px;
  margin-top: 30px;

}

.pricebox:nth-child(2n) {
  background-color: #27C7AB;
}
